* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Popins", sans-serif;
  text-align: center;
}

header {
  padding: 3rem 0;
}

.todo-input {
  padding: 0.5rem 5rem;
  margin: 1rem 0;
}

.todo-button {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.newTodo {
  padding-bottom: 0.5rem;
}

.complete-btn {
  margin-right: 0.5rem;
}

.todo {
  padding-left: 48rem;
  padding-bottom: 2rem;
  display: flex;
}

.todo li {
  padding-right: 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
  padding: 0.5rem;
}
